.table-log-data {
  background-color: rgb(68, 68, 85);
  height: 40px;
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  span {
    align-self: center;
  }
}
.table-row {
  background-color: rgb(149, 148, 88);
  height: 30px;
  display: flex;
  align-items: center;
  // justify-content: space-around;
}
